* {
  margin: 0;
  font-family: "roboto", sans-serif;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://data.1freewallpapers.com/download/colorful-circles-geometric-pattern-abstraction-abstract.jpg")
      center;
  background-size: cover;
  background-position: center;
}

form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}
h1 {
  color: rgb(77, 1, 77);
  text-align: center;
  margin-top: 10px;
}
button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
